<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="JDA_UI_AUTOMATION">
    <classes>
       <class name="DriverScript.JDA"/>
    </classes>
   </test>
   <test name="SS_CLASSIFICATION_VALIDATIONS">
     <classes>
       <class name="DriverScript.Ssclassification"/>
    </classes>
  </test>
  <test name="SS_Snapshots">
     <classes>
       <class name="DriverScript.snapshots"/>
    </classes>
  </test>
</suite> <!-- Suite -->
